.suggestion-input-typeahead{
	left: auto;
}

.suggestion-input-typeahead li{
	padding: 0 5px 0 5px;
}

.suggestion-input-typeahead .active{
	color: #ffffff;
	text-decoration: none;
	background-color: #438eb9;
	outline: 0;
	cursor: pointer;
}